body {
    background-color: #ffe4c4;
    font-family:'American Typewriter';
}

.error {
    color: rgb(195, 70, 70);
}

nav .navbar-brand {
    font-size: x-large;
}

main {
    text-align: center;
}

table {
    border: 3px solid black;
}

td {
    border: 3px solid black;
}
tr {
    border: 3px solid black;
}

img {
    width: 50%;
    height: 50%;
}