body {
    background-color: #ffe4c4;
    font-family:'American Typewriter';
}

button {
    border: 2px solid black;
    background-color: #ffe4c4;
    cursor: pointer;
    display: inline-block;
    margin: 4px 2px;
    padding: 10px 27px;
    text-align: center;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #DFC8AC;
}

.bed {
    margin-left: 20px;
    width: 500px;
}

.beds {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
}

.error {
    color: rgb(195, 70, 70);
}

input {
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 2px solid gray;
}

nav .navbar-brand {
    font-size: x-large;
}

main {
    text-align: center;
}

table {
    border: 2px solid black;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 50px;
}

td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color:  #ffe4c4;
}

img {
    width: 50%;
    height: 50%;
}

#test {
    background-color:#BFB2A2;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    height: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
}