{% extends "layout.html" %}

{% block title %} Start Your Garden {% endblock %}

{% block main %}
    <p>Add plants in your current garden</p>
        <form action="/add" method="post">
            <div>
                <input name="plant" placeholder="Add plant" type="text">
            </div>
            <div>
                <input name="bed" placeholder="bed" type="text">
                <input name="x" placeholder="x" type="text">
                <input name="y" placeholder="y" type="text">
            </div>
            <div>
                <input name="seed_source" placeholder="Seed source" type="text">
            </div>
            <div>
                <input name="notes" placeholder="Notes" type="text">
            </div>
            <div>
                <input name="date" placeholder="date" type="date">
            </div>
            <button type="submit">Add</button>
        </form>
        <p> {{message}} </p>
{% endblock %}