{% extends "layout.html" %}

{% block title %} Ava's Garden {% endblock %}

{% block main %}
    Try to layout each plot I have in the database

            <!-- Ok, so: I need to plot each point in a table. 
                 Each bed is it's own seperate table
                 Each 'y' is a row
                 Each 'x' is the td
            -->
     <table>
          {% for row in rows %}
              <tr> 
                    {% for column in columns %}
                    <td>
                         {{column}}
                    </td>
                    {% endfor %}  
              </tr>
          {% endfor %}
     </table>
     
          <div>
          <p>{{rows}}</p>
          </div>

            
{% endblock %}