{% extends "layout.html" %}

{% block main %}
<div id="square_garden_image">
    <img src="static/images/square_garden.png" alt="Drawn overview of square garden"></img>
</div>
<br>
<div style="text-align: left;">
    <div>
        <form action="/" method="post">
            <h3>
                NorthWest 'L'
            </h3>
            <ul>
                {% for y in range(1, 9) %}
                    {% if y > 4 %}
                        {% for x in range(1, 5) %}
                            <li>
                                <button name="clicked-button" value="1 {{x}} {{y}}" type="submit">
                                    Plot {{x}}, {{y}}
                                </button>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for x in range(1, 9) %}
                            <li>
                                <button name="clicked-button" value="1 {{x}} {{y}}" type="submit">
                                    Plot {{x}}, {{y}}
                                </button>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </form>
        
    </div>
    <div>
        <h3>
            NorthEast 'L'
        </h3>
        <ul>
            {% for y in range(1, 9) %} 
                {% if y > 4 %}
                    {% for x in range(5, 9) %}
                        <li>
                            <button type="submit">
                                Plot {{x}}, {{y}}
                            </button>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for x in range(1, 9) %}
                        <li>
                            <button type="submit">
                                Plot {{x}}, {{y}}
                            </button>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
    <div class="beds">
        <h3>
            Center Square
        </h3>
        <ul>
            {% for y in range(1, 5) %}
                {% for x in range(1, 5) %}
                
                    <li>
                        <button type="submit">
                           Plot {{x}}, {{y}}
                        </button>
                    </li>
                    {% endfor %}
            {% endfor %}
        </ul>
    </div>
    
    <div>
        <h3>
            SouthWest 'L'
        </h3>
        <ul>
            {% for y in range(1, 9) %}
                {% if y <= 4 %}
                    {% for x in range(1, 5) %}
                        <li>
                            <button type="submit">
                                Plot {{x}}, {{y}}
                            </button>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for x in range(1, 9) %}
                        <li>
                            <button type="submit">
                                Plot {{x}}, {{y}}
                            </button>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
    <div>
        <h3>
            SouthEast 'L'
        </h3>
        <ul>
            {% for y in range(1, 9) %}
                {% if y <= 4 %}
                    {% for x in range(5, 9) %}
                        <li>
                            <button type="submit">
                                Plot {{x}}, {{y}}
                            </button>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for x in range(1, 9) %}
                        <li>
                            <button type="submit">
                                Plot {{x}}, {{y}}
                            </button>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>
            Shade Garden
        </h3>
        <ul>
            {% for y in range(1, 11) %}
                {% for x in range(1, 5) %}
                    <li>
                        <button type="submit">
                            Plot {{x}}, {{y}}
                        </button>
                    </li>
                {% endfor %}

            {% endfor %}
        </ul>
    </div>
   
</div>
    
{% endblock %}